<div class="container">
    <h1 class="mt-3">Add Category</h1>
    <form #form="ngForm" (ngSubmit)="OnFormSubmit()">
        <div class="mt-3">
            <div class="mt-3">
                <label class="form-label"> Category Name</label>
                <input type="text" id="CategoryName" name="CategoryName" class="form-control" [(ngModel)]="model.name">
            </div>
            <div class="mt-3">
                <label class="form-label">Category Url handle</label>
                <input type="text" id="UrlHandle" name="UrlHandle" class="form-control" [(ngModel)]="model.urlHandle">
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>